# Node
node_modules/
dist/

# Env
.env
.env.*
.cvgenxx.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
.DS_Store

# Test/coverage
coverage/

# TypeScript
*.tsbuildinfo

# OS
Thumbs.db


# Ignore all examples
my-user.json
my-user.yaml